<header class="navbar-wrapper">
  <mat-toolbar class="navbar-content">
    <div class="brand" [routerLink]="['/']">
      <div class="logo-circle">
        <mat-icon>dashboard</mat-icon>
      </div>
      <span class="brand-text">EMP<span class="highlight">DASH</span></span>
    </div>
    
    <span class="spacer"></span>
    
    <nav class="nav-links">
      <button mat-button [routerLink]="['/home']" routerLinkActive="active-link">Home</button>
      <button mat-button [routerLink]="['/employees']" routerLinkActive="active-link">Employees</button>
      <button mat-raised-button color="primary" class="add-btn" [routerLink]="['/employee/new']">
        <mat-icon>add</mat-icon> <span>New Employee</span>
      </button>
    </nav>
  </mat-toolbar>
</header>
